.title_of_word{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ddd;

    padding: 8px;
  }

li{
    border: 1px solid #ddd;

    padding: 20px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
li:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.title_of_word {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1f3fcf;
    color: white;
  }

.kontener{
    display: flex;
}

.word{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

button{
    width:60px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 10%;
    background-color: rgb(197, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: grey;
    border-color: rgb(197, 194, 194);
}

textarea{
    width: 400px;
}